@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
:root {
  --primary-icon-color: #160b38;
  --secondary-icon-color: #f0f9ff;
  --background-color: #b6b7b9;
  --secondary-background-color: linear-gradient(
    to top,
    #b6b7b9 0%,
    #f0f9ff 100%
  );
  --primary-text-color: #160b38;
  --secondary-text-color: #160b38c4;
  --box-shadow: rgba(51, 51, 51, 0.3);
}
.dark-mode {
  --primary-icon-color: #f0f9ff;
  --secondary-icon-color: #333243;
  --background-color: #434343;
  --secondary-background-color: linear-gradient(
    to bottom,
    #434343 0%,
    rgb(0, 0, 0) 100%
  );
  --primary-text-color: #f0f9ff;
  --secondary-text-color: #f0f9ff8e;
  --box-shadow: rgba(245, 244, 244, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  user-select: none;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
}
#app {
  background-image: var(--secondary-background-color);
  color: var(--primary-text-color);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
}
#weather {
  padding: 0 1em;
  .header-area {
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    .city-name {
      i {
        font-size: inherit;
      }
      span {
        font-size: inherit;
      }
    }
  }
  .temp {
    font-size: 6em;
    position: fixed;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    .weather-description {
      font-size: 1.5rem;
      letter-spacing: 2px;
      opacity: 0.7;
      font-weight: 300;
    }
    .temp-value {
      font-size: clamp(2rem, 10vw, 6rem);
    }
  }
  .extra-details {
    font-weight: 300;
    opacity: 0.8;
    position: fixed;
    bottom: 10%;
    left: 5%;
    font-size: 1.4em;
  }
  .info {
    font-size: 12px;
    display: flex;
    opacity: 0.8;
  }
  .TempMinMax {
    font-weight: 300;
    opacity: 0.8;
    position: fixed;
    bottom: 10%;
    right: 5%;
    font-size: 1.4em;
  }
}
#footer {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  p {
    color: var(--secondary-text-color);
    a {
      color: inherit;
      &:hover {
        border-bottom: 2px solid var(--primary-icon-color);
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .header-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    .time {
      font-size: 0.7em;
    }
  }
  .temp {
    .weather-description {
      font-size: 20px !important;
      transform: translateY(-15px);
    }
  }
  .extra-details {
    font-size: 1.2em !important;
    left: initial !important;
    transform: translateX(-48px);
    display: flex;
    bottom: 17% !important;
    width: 100%;
    justify-content: space-around;
    .WindAndHumidity {
    }
    .SunsetAndSunrise {
    }
  }
  .TempMinMax {
    display: none;
  }
  #footer {
    font-size: 10px;
  }
}
@media screen and (max-width: 340px) {
  .temp {
    .weather-description {
      font-size: 16px !important;
    }
  }
}
