.bg-dayTime {
  background-image: url("../../../assets/images/day.jpg");
  background-size: cover;
}
.bg-nightTime {
  background-image: url("../../../assets/images/night.jpg");
  background-size: cover;
}
